* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  border: solid red 1px;
  height: 960px;
  width: 960px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.square {
  border: solid grey 1px;
  flex: 1;
}