* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.top-bar {
  display: flex;
  width: 650px;
  justify-content: space-between;
}

h1 {
  color: red;
  font-size: 3em;
}

.grid {
  border: solid red 1px;
  height: 650px;
  width: 650px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.square {
  border: solid grey 1px;
  flex: 1;
}

button {
  padding: 5px 8px;
}